gevent>=1.1rc1
pysnmp>=4.2.4
lxml==3.4.4
bottle
jinja2
beautifulsoup4
requests
sphinx
libtaxii>=1.1.0
MySQL-python
xlrd
crc16
enum34
hpfeeds
modbus-tk
stix-validator
stix
cybox
bacpypes
pyghmi
mixbox
pymodbus
trollius
aiogevent
